@import url('https://fonts.googleapis.com/css2?&family=Cinzel&family=Prata&display=swap');

/* General Styles */

:root{
  --ff-primary: 'Prata', sans-serif;
  --ff-secondary: sans-serif;

  --clr-light: rgb(250, 250, 250);
  --clr-dark: rgb(22, 22, 22);
  --clr-accent: rgb(231, 212, 34);

  --fs-h1: 5.5em;
  --fs-h2: 3.5em;
  --fs-h3:  2.75rem;
  --fs-body: 1.25rem;
}

@media(max-width: 1100px){
  :root{
    --fs-h1: 4.0em;
    --fs-h2: 3.0em;
    --fs-h3: 2.5em;
    --fs-body: 1.75em;
  }
}

@media(max-width: 600px){
  :root{
    --fs-h1: 2.5em;
    --fs-h2: 2.0em;
    --fs-h3: 1.5em;
    --fs-body: 1em;
  }
}

* {
  background-color: var(--clr-dark);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

hr{
  width: 40%;
  color: var(--clr-accent);
  background-color: var(--clr-accent);
  opacity: 0.5;
  height: 2px;
  border: none;
  border-radius: 15px;
  justify-content: center;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.hr {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
    section{
        padding: 50px 20px;
    }
}

/* Icon Nav Section */

.icons{
  padding-top: 10px;
  width: 100%;
  background: rgba(22, 22, 22, 0.5);
  position: fixed;
  opacity: 0;
  z-index: 1;
  animation: 1.5s fadein 0.2s forwards;
}
.icon{
  color: var(--clr-accent);
  background-color: inherit;
  margin: 10px 5px;
  font-size: 25px;
  transition: all 0.5s;
}

.icon:hover{
  cursor: pointer;
  color: var(--clr-light);
}

/* Hero Section */

span{
  color: var(--clr-accent);
}

.hero-content-area{
  opacity: 0;
  margin-top: 100px;
  animation: 1.5s slidefade 0.2s forwards;
}

.hero{
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--clr-dark);
  color:var(--clr-light);
}

.main-header,
.sub-header{
  font-family: var(--ff-primary);
  margin: 0 0 35px 0;
}

.main-header{
  font-size: var(--fs-h1);
  margin-bottom: 0;
}

.sub-header{
  font-size: var(--fs-h2); 
}

@keyframes fadein {
  100% {
      opacity: 1;
  }
}

@media (max-width: 600px) {
  .main-header{
    margin-bottom: 0;
  }

  .heading-icon{
    height: 35px;
  }
}

/* Nav Section */

nav { 
  display: flex;
  list-style: none;
}

.nav-links{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 100px;
  font-size: var(--fs-h3);
}

.nav-link{
  padding: 5px;
  margin: 15px;
  letter-spacing: normal;
  font-family: var(--ff-primary);
  position: relative;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--clr-accent);
}

.nav-link:hover{
  cursor: pointer;
  color: var(--clr-light);
}

@keyframes slidefade {
  100% {
      opacity: 1;
      margin: 0;
  }
}

/* About Me Section */

.about-me{
  color: var(--clr-light);
  font-family: var(--ff-primary);
  padding: 4rem 20rem;
}

.description {
  font-size: var(--fs-body);
  font-family: var(--ff-secondary)
}

.picture {
  width: 500px;
  margin-bottom: 50px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .picture {
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .about-me {
    padding: 2.5em 2.5em;
  }
}

@media(max-width: 600px) {
  .picture{
    width: 300px;
  }
}

/* Skills Section */

.skills-header{
  width: 100%;
  font-size: var(--fs-h3);
  padding: 4rem 20rem
}
.skills {
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-grid {
  display: flex;

}

.skills-item {
  font-size: 50px;
  margin: 10px 10px

}

@media (max-width: 600px){
  .skills-item{
    font-size: 30px;
    margin: 5px 5px;
  }
}


/* Projects */

.projects{
  color: var(--clr-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-header{
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

/* Contact */

.contact {
  color: var(--clr-light);
}

.email-link{
  letter-spacing: normal;
  font-family: 'Cinzel', sans-serif;
  font-size: 2em;
  position: relative;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--clr-accent);
}

.email-link:hover{
  cursor: pointer;
  color: var(--clr-light);
}

@media(max-width: 600px){
  .email-link{
    font-size: 1.0em;
  }
}